# Godot 4+ specific ignores
.godot/
Assets/Art/Tiles/tile_0174.png
Assets/Art/Tiles/tile_0173.png.import
Assets/Art/Tiles/tile_0173.png
Assets/Art/Tiles/tile_0172.png.import
Assets/Art/Tiles/tile_0172.png
Assets/Art/Tiles/tile_0171.png.import
Assets/Art/Tiles/tile_0171.png
Assets/Art/Tiles/tile_0170.png.import
Assets/Art/Tiles/tile_0170.png
Assets/Art/Tiles/tile_0169.png.import
Assets/Art/Tiles/tile_0169.png
Assets/Art/Tiles/tile_0168.png.import
Assets/Art/Tiles/tile_0168.png
Assets/Art/Tiles/tile_0167.png.import
Assets/Art/Tiles/tile_0167.png
Assets/Art/Tiles/tile_0166.png.import
Assets/Art/Tiles/tile_0166.png
Assets/Art/Tiles/tile_0165.png.import
Assets/Art/Tiles/tile_0165.png
Assets/Art/Tiles/tile_0164.png.import
Assets/Art/Tiles/tile_0164.png
Assets/Art/Tiles/tile_0163.png.import
Assets/Art/Tiles/tile_0163.png
Assets/Art/Tiles/tile_0162.png.import
Assets/Art/Tiles/tile_0162.png
Assets/Art/Tiles/tile_0161.png.import
Assets/Art/Tiles/tile_0161.png
Assets/Art/Tiles/tile_0160.png.import
Assets/Art/Tiles/tile_0160.png
Assets/Art/Tiles/tile_0159.png.import
Assets/Art/Tiles/tile_0159.png
Assets/Art/Tiles/tile_0158.png.import
Assets/Art/Tiles/tile_0158.png
Assets/Art/Tiles/tile_0157.png.import
Assets/Art/Tiles/tile_0157.png
Assets/Art/Tiles/tile_0156.png.import
Assets/Art/Tiles/tile_0156.png
Assets/Art/Tiles/tile_0155.png.import
Assets/Art/Tiles/tile_0155.png
Assets/Art/Tiles/tile_0154.png.import
Assets/Art/Tiles/tile_0154.png
Assets/Art/Tiles/tile_0153.png.import
Assets/Art/Tiles/tile_0153.png
Assets/Art/Tiles/tile_0152.png.import
Assets/Art/Tiles/tile_0152.png
Assets/Art/Tiles/tile_0151.png.import
Assets/Art/Tiles/tile_0151.png
Assets/Art/Tiles/tile_0150.png.import
Assets/Art/Tiles/tile_0150.png
Assets/Art/Tiles/tile_0149.png.import
Assets/Art/Tiles/tile_0149.png
Assets/Art/Tiles/tile_0148.png.import
Assets/Art/Tiles/tile_0148.png
Assets/Art/Tiles/tile_0147.png.import
Assets/Art/Tiles/tile_0147.png
Assets/Art/Tiles/tile_0146.png.import
Assets/Art/Tiles/tile_0146.png
Assets/Art/Tiles/tile_0145.png.import
Assets/Art/Tiles/tile_0145.png
Assets/Art/Tiles/tile_0144.png.import
Assets/Art/Tiles/tile_0144.png
Assets/Art/Tiles/tile_0143.png.import
Assets/Art/Tiles/tile_0143.png
Assets/Art/Tiles/tile_0142.png.import
Assets/Art/Tiles/tile_0142.png
Assets/Art/Tiles/tile_0141.png.import
Assets/Art/Tiles/tile_0141.png
Assets/Art/Tiles/tile_0140.png.import
Assets/Art/Tiles/tile_0140.png
Assets/Art/Tiles/tile_0139.png.import
Assets/Art/Tiles/tile_0139.png
Assets/Art/Tiles/tile_0138.png.import
Assets/Art/Tiles/tile_0138.png
Assets/Art/Tiles/tile_0137.png.import
Assets/Art/Tiles/tile_0137.png
Assets/Art/Tiles/tile_0136.png.import
Assets/Art/Tiles/tile_0136.png
Assets/Art/Tiles/tile_0135.png.import
Assets/Art/Tiles/tile_0135.png
Assets/Art/Tiles/tile_0134.png.import
Assets/Art/Tiles/tile_0134.png
Assets/Art/Tiles/tile_0133.png.import
Assets/Art/Tiles/tile_0133.png
Assets/Art/Tiles/tile_0132.png.import
Assets/Art/Tiles/tile_0132.png
Assets/Art/Tiles/tile_0131.png.import
Assets/Art/Tiles/tile_0131.png
Assets/Art/Tiles/tile_0130.png.import
Assets/Art/Tiles/tile_0130.png
Assets/Art/Tiles/tile_0129.png.import
Assets/Art/Tiles/tile_0129.png
Assets/Art/Tiles/tile_0128.png.import
Assets/Art/Tiles/tile_0128.png
Assets/Art/Tiles/tile_0127.png.import
Assets/Art/Tiles/tile_0127.png
Assets/Art/Tiles/tile_0126.png.import
Assets/Art/Tiles/tile_0126.png
Assets/Art/Tiles/tile_0125.png.import
Assets/Art/Tiles/tile_0125.png
Assets/Art/Tiles/tile_0124.png.import
Assets/Art/Tiles/tile_0124.png
Assets/Art/Tiles/tile_0123.png.import
Assets/Art/Tiles/tile_0123.png
Assets/Art/Tiles/tile_0122.png.import
Assets/Art/Tiles/tile_0122.png
Assets/Art/Tiles/tile_0121.png.import
Assets/Art/Tiles/tile_0121.png
Assets/Art/Tiles/tile_0120.png.import
Assets/Art/Tiles/tile_0120.png
Assets/Art/Tiles/tile_0119.png.import
Assets/Art/Tiles/tile_0119.png
Assets/Art/Tiles/tile_0118.png.import
Assets/Art/Tiles/tile_0118.png
Assets/Art/Tiles/tile_0117.png.import
Assets/Art/Tiles/tile_0117.png
Assets/Art/Tiles/tile_0116.png.import
Assets/Art/Tiles/tile_0116.png
Assets/Art/Tiles/tile_0115.png.import
Assets/Art/Tiles/tile_0115.png
Assets/Art/Tiles/tile_0114.png.import
Assets/Art/Tiles/tile_0114.png
Assets/Art/Tiles/tile_0113.png.import
Assets/Art/Tiles/tile_0113.png
Assets/Art/Tiles/tile_0112.png.import
Assets/Art/Tiles/tile_0112.png
Assets/Art/Tiles/tile_0111.png.import
Assets/Art/Tiles/tile_0111.png
Assets/Art/Tiles/tile_0110.png.import
Assets/Art/Tiles/tile_0110.png
Assets/Art/Tiles/tile_0109.png.import
Assets/Art/Tiles/tile_0109.png
Assets/Art/Tiles/tile_0108.png.import
Assets/Art/Tiles/tile_0108.png
Assets/Art/Tiles/tile_0107.png.import
Assets/Art/Tiles/tile_0107.png
Assets/Art/Tiles/tile_0106.png.import
Assets/Art/Tiles/tile_0106.png
Assets/Art/Tiles/tile_0105.png.import
Assets/Art/Tiles/tile_0105.png
Assets/Art/Tiles/tile_0104.png.import
Assets/Art/Tiles/tile_0104.png
Assets/Art/Tiles/tile_0103.png.import
Assets/Art/Tiles/tile_0103.png
Assets/Art/Tiles/tile_0102.png.import
Assets/Art/Tiles/tile_0102.png
Assets/Art/Tiles/tile_0101.png.import
Assets/Art/Tiles/tile_0101.png
Assets/Art/Tiles/tile_0100.png.import
Assets/Art/Tiles/tile_0100.png
Assets/Art/Tiles/tile_0099.png.import
Assets/Art/Tiles/tile_0099.png
Assets/Art/Tiles/tile_0098.png.import
Assets/Art/Tiles/tile_0098.png
Assets/Art/Tiles/tile_0097.png.import
Assets/Art/Tiles/tile_0097.png
Assets/Art/Tiles/tile_0096.png.import
Assets/Art/Tiles/tile_0096.png
Assets/Art/Tiles/tile_0095.png.import
Assets/Art/Tiles/tile_0095.png
Assets/Art/Tiles/tile_0094.png.import
Assets/Art/Tiles/tile_0094.png
Assets/Art/Tiles/tile_0093.png.import
Assets/Art/Tiles/tile_0093.png
Assets/Art/Tiles/tile_0092.png.import
Assets/Art/Tiles/tile_0092.png
Assets/Art/Tiles/tile_0091.png.import
Assets/Art/Tiles/tile_0091.png
Assets/Art/Tiles/tile_0090.png.import
Assets/Art/Tiles/tile_0090.png
Assets/Art/Tiles/tile_0089.png.import
Assets/Art/Tiles/tile_0089.png
Assets/Art/Tiles/tile_0088.png.import
Assets/Art/Tiles/tile_0088.png
Assets/Art/Tiles/tile_0087.png.import
Assets/Art/Tiles/tile_0087.png
Assets/Art/Tiles/tile_0086.png.import
Assets/Art/Tiles/tile_0086.png
Assets/Art/Tiles/tile_0085.png.import
Assets/Art/Tiles/tile_0085.png
Assets/Art/Tiles/tile_0084.png.import
Assets/Art/Tiles/tile_0084.png
Assets/Art/Tiles/tile_0083.png.import
Assets/Art/Tiles/tile_0083.png
Assets/Art/Tiles/tile_0082.png.import
Assets/Art/Tiles/tile_0082.png
Assets/Art/Tiles/tile_0081.png.import
Assets/Art/Tiles/tile_0081.png
Assets/Art/Tiles/tile_0080.png.import
Assets/Art/Tiles/tile_0080.png
Assets/Art/Tiles/tile_0079.png.import
Assets/Art/Tiles/tile_0079.png
Assets/Art/Tiles/tile_0078.png.import
Assets/Art/Tiles/tile_0078.png
Assets/Art/Tiles/tile_0077.png.import
Assets/Art/Tiles/tile_0077.png
Assets/Art/Tiles/tile_0076.png.import
Assets/Art/Tiles/tile_0076.png
Assets/Art/Tiles/tile_0075.png.import
Assets/Art/Tiles/tile_0075.png
Assets/Art/Tiles/tile_0074.png.import
Assets/Art/Tiles/tile_0074.png
Assets/Art/Tiles/tile_0073.png.import
Assets/Art/Tiles/tile_0073.png
Assets/Art/Tiles/tile_0072.png.import
Assets/Art/Tiles/tile_0072.png
Assets/Art/Tiles/tile_0071.png.import
Assets/Art/Tiles/tile_0071.png
Assets/Art/Tiles/tile_0070.png.import
Assets/Art/Tiles/tile_0070.png
Assets/Art/Tiles/tile_0069.png.import
Assets/Art/Tiles/tile_0069.png
Assets/Art/Tiles/tile_0068.png.import
Assets/Art/Tiles/tile_0068.png
Assets/Art/Tiles/tile_0067.png.import
Assets/Art/Tiles/tile_0067.png
Assets/Art/Tiles/tile_0066.png.import
Assets/Art/Tiles/tile_0066.png
Assets/Art/Tiles/tile_0065.png.import
Assets/Art/Tiles/tile_0065.png
Assets/Art/Tiles/tile_0064.png.import
Assets/Art/Tiles/tile_0064.png
Assets/Art/Tiles/tile_0063.png.import
Assets/Art/Tiles/tile_0063.png
Assets/Art/Tiles/tile_0062.png.import
Assets/Art/Tiles/tile_0062.png
Assets/Art/Tiles/tile_0061.png.import
Assets/Art/Tiles/tile_0061.png
Assets/Art/Tiles/tile_0060.png.import
Assets/Art/Tiles/tile_0060.png
Assets/Art/Tiles/tile_0059.png.import
Assets/Art/Tiles/tile_0059.png
Assets/Art/Tiles/tile_0058.png.import
Assets/Art/Tiles/tile_0058.png
Assets/Art/Tiles/tile_0057.png.import
Assets/Art/Tiles/tile_0057.png
Assets/Art/Tiles/tile_0056.png.import
Assets/Art/Tiles/tile_0056.png
Assets/Art/Tiles/tile_0055.png.import
Assets/Art/Tiles/tile_0055.png
Assets/Art/Tiles/tile_0054.png.import
Assets/Art/Tiles/tile_0054.png
Assets/Art/Tiles/tile_0053.png.import
Assets/Art/Tiles/tile_0053.png
Assets/Art/Tiles/tile_0052.png.import
Assets/Art/Tiles/tile_0052.png
Assets/Art/Tiles/tile_0051.png.import
Assets/Art/Tiles/tile_0051.png
Assets/Art/Tiles/tile_0050.png.import
Assets/Art/Tiles/tile_0050.png
Assets/Art/Tiles/tile_0049.png.import
Assets/Art/Tiles/tile_0049.png
Assets/Art/Tiles/tile_0048.png.import
Assets/Art/Tiles/tile_0048.png
Assets/Art/Tiles/tile_0047.png.import
Assets/Art/Tiles/tile_0047.png
Assets/Art/Tiles/tile_0046.png.import
Assets/Art/Tiles/tile_0046.png
Assets/Art/Tiles/tile_0045.png.import
Assets/Art/Tiles/tile_0045.png
Assets/Art/Tiles/tile_0044.png.import
Assets/Art/Tiles/tile_0044.png
Assets/Art/Tiles/tile_0043.png.import
Assets/Art/Tiles/tile_0043.png
Assets/Art/Tiles/tile_0042.png.import
Assets/Art/Tiles/tile_0042.png
Assets/Art/Tiles/tile_0041.png.import
Assets/Art/Tiles/tile_0041.png
Assets/Art/Tiles/tile_0040.png.import
Assets/Art/Tiles/tile_0040.png
Assets/Art/Tiles/tile_0039.png.import
Assets/Art/Tiles/tile_0039.png
Assets/Art/Tiles/tile_0038.png.import
Assets/Art/Tiles/tile_0038.png
Assets/Art/Tiles/tile_0037.png.import
Assets/Art/Tiles/tile_0037.png
Assets/Art/Tiles/tile_0036.png.import
Assets/Art/Tiles/tile_0036.png
Assets/Art/Tiles/tile_0035.png.import
Assets/Art/Tiles/tile_0035.png
Assets/Art/Tiles/tile_0034.png.import
Assets/Art/Tiles/tile_0034.png
Assets/Art/Tiles/tile_0033.png.import
Assets/Art/Tiles/tile_0033.png
Assets/Art/Tiles/tile_0032.png.import
Assets/Art/Tiles/tile_0032.png
Assets/Art/Tiles/tile_0031.png.import
Assets/Art/Tiles/tile_0031.png
Assets/Art/Tiles/tile_0030.png.import
Assets/Art/Tiles/tile_0030.png
Assets/Art/Tiles/tile_0029.png.import
Assets/Art/Tiles/tile_0029.png
Assets/Art/Tiles/tile_0028.png.import
Assets/Art/Tiles/tile_0028.png
Assets/Art/Tiles/tile_0027.png.import
Assets/Art/Tiles/tile_0027.png
Assets/Art/Tiles/tile_0026.png.import
Assets/Art/Tiles/tile_0026.png
Assets/Art/Tiles/tile_0025.png.import
Assets/Art/Tiles/tile_0025.png
Assets/Art/Tiles/tile_0024.png.import
Assets/Art/Tiles/tile_0024.png
Assets/Art/Tiles/tile_0023.png.import
Assets/Art/Tiles/tile_0023.png
Assets/Art/Tiles/tile_0022.png.import
Assets/Art/Tiles/tile_0022.png
Assets/Art/Tiles/tile_0021.png.import
Assets/Art/Tiles/tile_0021.png
Assets/Art/Tiles/tile_0020.png.import
Assets/Art/Tiles/tile_0020.png
Assets/Art/Tiles/tile_0019.png.import
Assets/Art/Tiles/tile_0019.png
Assets/Art/Tiles/tile_0018.png.import
Assets/Art/Tiles/tile_0018.png
Assets/Art/Tiles/tile_0017.png.import
Assets/Art/Tiles/tile_0017.png
Assets/Art/Tiles/tile_0016.png.import
Assets/Art/Tiles/tile_0016.png
Assets/Art/Tiles/tile_0015.png.import
Assets/Art/Tiles/tile_0015.png
Assets/Art/Tiles/tile_0014.png.import
Assets/Art/Tiles/tile_0014.png
Assets/Art/Tiles/tile_0013.png.import
Assets/Art/Tiles/tile_0013.png
Assets/Art/Tiles/tile_0012.png.import
Assets/Art/Tiles/tile_0012.png
Assets/Art/Tiles/tile_0011.png.import
Assets/Art/Tiles/tile_0011.png
Assets/Art/Tiles/tile_0010.png.import
Assets/Art/Tiles/tile_0010.png
Assets/Art/Tiles/tile_0009.png.import
Assets/Art/Tiles/tile_0009.png
Assets/Art/Tiles/tile_0008.png.import
Assets/Art/Tiles/tile_0008.png
Assets/Art/Tiles/tile_0007.png.import
Assets/Art/Tiles/tile_0007.png
Assets/Art/Tiles/tile_0006.png.import
Assets/Art/Tiles/tile_0006.png
Assets/Art/Tiles/tile_0005.png.import
Assets/Art/Tiles/tile_0005.png
Assets/Art/Tiles/tile_0004.png.import
Assets/Art/Tiles/tile_0004.png
Assets/Art/Tiles/tile_0003.png.import
Assets/Art/Tiles/tile_0003.png
Assets/Art/Tiles/tile_0002.png.import
Assets/Art/Tiles/tile_0002.png
Assets/Art/Tiles/tile_0001.png.import
Assets/Art/Tiles/tile_0001.png
Assets/Art/Tiles/tile_0000.png.import
Assets/Art/Tiles/tile_0000.png
Assets/Art/Tiles/tile_0179.png.import
Assets/Art/Tiles/tile_0179.png
Assets/Art/Tiles/tile_0178.png.import
Assets/Art/Tiles/tile_0178.png
Assets/Art/Tiles/tile_0177.png.import
Assets/Art/Tiles/tile_0177.png
Assets/Art/Tiles/tile_0176.png.import
Assets/Art/Tiles/tile_0176.png
Assets/Art/Tiles/tile_0175.png.import
Assets/Art/Tiles/tile_0175.png
Assets/Art/Tiles/tile_0174.png.import
Assets/Art/Characters/character_0026.png.import
Assets/Art/Characters/character_0026.png
Assets/Art/Characters/character_0025.png.import
Assets/Art/Characters/character_0025.png
Assets/Art/Characters/character_0024.png.import
Assets/Art/Characters/character_0024.png
Assets/Art/Characters/character_0023.png.import
Assets/Art/Characters/character_0023.png
Assets/Art/Characters/character_0022.png.import
Assets/Art/Characters/character_0022.png
Assets/Art/Characters/character_0021.png.import
Assets/Art/Characters/character_0021.png
Assets/Art/Characters/character_0020.png.import
Assets/Art/Characters/character_0020.png
Assets/Art/Characters/character_0019.png.import
Assets/Art/Characters/character_0019.png
Assets/Art/Characters/character_0018.png.import
Assets/Art/Characters/character_0018.png
Assets/Art/Characters/character_0017.png.import
Assets/Art/Characters/character_0017.png
Assets/Art/Characters/character_0016.png.import
Assets/Art/Characters/character_0016.png
Assets/Art/Characters/character_0015.png.import
Assets/Art/Characters/character_0015.png
Assets/Art/Characters/character_0014.png.import
Assets/Art/Characters/character_0014.png
Assets/Art/Characters/character_0013.png.import
Assets/Art/Characters/character_0013.png
Assets/Art/Characters/character_0012.png.import
Assets/Art/Characters/character_0012.png
Assets/Art/Characters/character_0011.png.import
Assets/Art/Characters/character_0011.png
Assets/Art/Characters/character_0010.png.import
Assets/Art/Characters/character_0010.png
Assets/Art/Characters/character_0009.png.import
Assets/Art/Characters/character_0009.png
Assets/Art/Characters/character_0008.png.import
Assets/Art/Characters/character_0008.png
Assets/Art/Characters/character_0007.png.import
Assets/Art/Characters/character_0007.png
Assets/Art/Characters/character_0006.png.import
Assets/Art/Characters/character_0006.png
Assets/Art/Characters/character_0005.png.import
Assets/Art/Characters/character_0005.png
Assets/Art/Characters/character_0004.png.import
Assets/Art/Characters/character_0004.png
Assets/Art/Characters/character_0003.png.import
Assets/Art/Characters/character_0003.png
Assets/Art/Characters/character_0002.png.import
Assets/Art/Characters/character_0002.png
Assets/Art/Characters/character_0001.png.import
Assets/Art/Characters/character_0001.png
Assets/Art/Characters/character_0000.png.import
Assets/Art/Characters/character_0000.png
Assets/Art/Background/background_0011.png.import
Assets/Art/Background/background_0011.png
Assets/Art/Background/background_0010.png.import
Assets/Art/Background/background_0010.png
Assets/Art/Background/background_0009.png.import
Assets/Art/Background/background_0009.png
Assets/Art/Background/background_0008.png.import
Assets/Art/Background/background_0008.png
Assets/Art/Background/background_0007.png.import
Assets/Art/Background/background_0007.png
Assets/Art/Background/background_0006.png.import
Assets/Art/Background/background_0006.png
Assets/Art/Background/background_0005.png.import
Assets/Art/Background/background_0005.png
Assets/Art/Background/background_0004.png.import
Assets/Art/Background/background_0004.png
Assets/Art/Background/background_0003.png.import
Assets/Art/Background/background_0003.png
Assets/Art/Background/background_0002.png.import
Assets/Art/Background/background_0002.png
Assets/Art/Background/background_0001.png.import
Assets/Art/Background/background_0001.png
Assets/Art/Background/background_0000.png.import
Assets/Art/Background/background_0000.png
.idea/.idea.PixelPlatformerTutorial/.idea/vcs.xml
.idea/.idea.PixelPlatformerTutorial/.idea/indexLayout.xml
.idea/.idea.PixelPlatformerTutorial/.idea/encodings.xml
